* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --black: 37, 37, 37;
    --white: 242, 242, 242;
    --grey: 136, 136, 136;
    --red: 229, 37, 47;
    --yellow: 255, 215, 0;

    --bezier: cubic-bezier(0.16, 1, 0.3, 1);
    --tile-width: 165px;
}

html {
    font-family: 'Telegraf';
    background: rgb(var(--white));
    color: rgb(var(--black));
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.line {
	display: block;
	width: 100%;
	height: 2px;
	height: 1px;
	background: rgb(var(--grey));
	transform-origin: left;
}

.cercle-button {
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(var(--grey));
    transition: 0.4s;
}

.arrow div {
    position: absolute;
    width: 100%;
    height: 1px;
}

.arrow div::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(var(--grey));
    transition: 0.4s;
    transform: scaleX(0);
    transform-origin: left;
}

.arrow span {
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(var(--grey));
    transition: 0.4s;
    transform-origin: right;
}

.arrow {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 50%;
}

.arrow div:nth-child(1) {
    width: 141%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow div:nth-child(2) {
    top: 0%;
    left: 0%;
}

.arrow div:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.cercle-button:hover .arrow div span {
  transform: scaleX(0);
}

.cercle-button:hover .arrow div::before {
   transition-delay: 0.4s;
   transform: scaleX(1);
}

[id*='tiles'] {
    position: absolute;
    display: grid;
    z-index: -1;
}

[id*='tiles'] span {
    display: block;
    border-style: solid;
    border-color: rgb(var(--grey));
    border-width: 1px;
    width: 100%;
    height: 100%;
}

@media (max-width: 1600px) {
    :root {
        --tile-width: 150px;
    }
}

@media (max-height: 850px) {
    :root {
        --tile-width: 150px;
    }
}

@media (max-width: 1350px) {
    :root {
        --tile-width: 125px;
    }
}

@media (max-height: 800px) {
    :root {
        --tile-width: 125px;
    }
}

@media (max-width: 1050px) {
    :root {
        --tile-width: 100px;
    }
}

@media (max-height: 750px) {
    :root {
        --tile-width: 100px;
    }
}

/* ---------- font ---------- */

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-Ultralight.otf') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltralightSlanted.otf') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltralightOblique.otf') format('woff');
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-Regular.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-RegularSlanted.otf') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-RegularOblique.otf') format('woff');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-Ultrabold.otf') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltraboldSlanted.otf') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltraboldOblique.otf') format('woff');
    font-weight: 800;
    font-style: oblique;
}