* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --black: 37, 37, 37;
    --white: 242, 242, 242;
    --grey: 136, 136, 136;
    --red: 229, 37, 47;
    --yellow: 255, 215, 0;
    --bezier: cubic-bezier(0.16, 1, 0.3, 1);
    --tile-width: 165px;
}

html {
    font-family: 'Telegraf';
    background: rgb(var(--white));
    color: rgb(var(--black));
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.line {
	display: block;
	width: 100%;
	height: 2px;
	height: 1px;
	background: rgb(var(--grey));
	transform-origin: left;
}

/* bouton flèche */

.cercle-button {
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(var(--grey));
    transition: 0.4s;
}

.arrow div {
    position: absolute;
    width: 100%;
    height: 1px;
}

.arrow div::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(var(--grey));
    transition: 0.4s;
    transform: scaleX(0);
    transform-origin: left;
}

.arrow span {
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(var(--grey));
    transition: 0.4s;
    transform-origin: right;
}

.arrow {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 50%;
}

.arrow div:nth-child(1) {
    width: 141%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow div:nth-child(2) {
    top: 0%;
    left: 0%;
}

.arrow div:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(-90deg);
}


.cercle-button:hover .arrow div span {
  transform: scaleX(0);
}

.cercle-button:hover .arrow div::before {
   transition-delay: 0.3s;
   transform: scaleX(1);
}


/* quadrillage */

[id*='tiles'] {
    position: absolute;
    display: grid;
    z-index: -1;
}

[id*='tiles'] span {
    display: block;
    border-style: solid;
    border-color: rgb(var(--grey));
    border-width: 1px;
    width: 100%;
    height: 100%;
}

@media (max-width: 1600px) {
    :root {
        --tile-width: 150px;
    }
}

@media (max-height: 850px) {
    :root {
        --tile-width: 150px;
    }
}

@media (max-width: 1350px) {
    :root {
        --tile-width: 125px;
    }
}

@media (max-height: 800px) {
    :root {
        --tile-width: 125px;
    }
}

@media (max-width: 1050px) {
    :root {
        --tile-width: 100px;
    }
}

@media (max-height: 750px) {
    :root {
        --tile-width: 100px;
    }
}

#tiles-1 {
    grid-template-columns: repeat(3, var(--tile-width));
    grid-template-rows: repeat(2, var(--tile-width));
    transform: translate(0, -1px);
    top: 0;
    left: 0;
}

#tiles-1 div:nth-child(1) span { transform: translate(1px, 0); }
#tiles-1 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-1 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

#tiles-1 div:nth-child(3) span { transform: translate(-1px, 0); }
#tiles-1 div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

#tiles-1 div:nth-child(4) span { transform: translate(1px, -1px); }
#tiles-1 div:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }

#tiles-1 div:nth-child(5) span { transform: translate(0, -1px); }
#tiles-1 div:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }

#tiles-2 {
    grid-template-columns: repeat(3, var(--tile-width));
    grid-template-rows: repeat(2, var(--tile-width));
    bottom: 0;
    right: 0;
}

#tiles-2 div:nth-child(1) span { transform: translate(0, 1px); }
#tiles-2 div:nth-child(1) { grid-area: 1 / 2 / 2 / 3; }

#tiles-2 div:nth-child(2) span { transform: translate(-1px, 1px); }
#tiles-2 div:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }

#tiles-2 div:nth-child(3) span { transform: translate(1px, 0); }
#tiles-2 div:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }

#tiles-2 div:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }

#tiles-2 div:nth-child(5) span { transform: translate(-1px, 0); }
#tiles-2 div:nth-child(5) { grid-area: 2 / 3 / 3 / 4; }

@media (max-height: 665px) {
    #tiles-1, #tiles-2 {
        display: none;
    }
}

#tiles-3 {
    grid-template-columns: repeat(3, var(--tile-width));
    grid-template-rows: repeat(2, var(--tile-width));
    top: 0;
    right: 0;
}

#tiles-3 div:nth-child(1) span { transform: translate(1px, 0); }
#tiles-3 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-3 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

#tiles-3 div:nth-child(3) span { transform: translate(-1px, 0); }
#tiles-3 div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

#tiles-3 div:nth-child(4) span { transform: translate(-1px, -1px); }
#tiles-3 div:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }

#tiles-4 {
    grid-template-columns: repeat(2, var(--tile-width));
    grid-template-rows: var(--tile-width);
    bottom: 0;
    left: 0;
}

#tiles-4 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-4 div:nth-child(2) span { transform: translate(-1px, 0); }
#tiles-4 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

#tiles-5 {
    grid-template-columns: var(--tile-width);
    grid-template-rows: var(--tile-width);
    bottom: 0;
    right: 0;
}

#tiles-5 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-6 {
    grid-template-columns: repeat(5, var(--tile-width));
    grid-template-rows: repeat(2, var(--tile-width));
    transform: translate(0, -1px);
}

#tiles-6 div:nth-child(1) span { transform: translate(1px, 0); }
#tiles-6 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-6 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

#tiles-6 div:nth-child(3) span { transform: translate(-1px, 0); }
#tiles-6 div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

#tiles-6 div:nth-child(4) span { transform: translate(-2px, 0); }
#tiles-6 div:nth-child(4) { grid-area: 1 / 4 / 2 / 5; }

#tiles-6 div:nth-child(5) span { transform: translate(-3px, 0); }
#tiles-6 div:nth-child(5) { grid-area: 1 / 5 / 2 / 6; }

#tiles-6 div:nth-child(6) span { transform: translate(1px, -1px); }
#tiles-6 div:nth-child(6) { grid-area: 2 / 1 / 3 / 2; }

@media (max-width: 635px) {
    #tiles-6 div:nth-child(5) {
        display: none;
    }
}

@media (max-width: 510px) {
    #tiles-6 div:nth-child(4) {
        display: none;
    }
}

#tiles-7 {
    grid-template-columns: repeat(3, var(--tile-width));
    grid-template-rows: repeat(3, var(--tile-width));
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
}

#tiles-7 div:nth-child(1) span { transform: translate(0, 1px); }
#tiles-7 div:nth-child(1) { grid-area: 1 / 2 / 2 / 3; }

#tiles-7 div:nth-child(2) span { transform: translate(1px, 0); }
#tiles-7 div:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }

#tiles-7 div:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }

#tiles-7 div:nth-child(4) span { transform: translate(-1px, 0); }
#tiles-7 div:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }

#tiles-7 div:nth-child(5) span { transform: translate(1px, -1px); }
#tiles-7 div:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }

#tiles-7 div:nth-child(6) span { transform: translate(0, -1px); }
#tiles-7 div:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }

@media (max-width: 1300px) {
    #tiles-7 {
        display: none;
    }
}

#tiles-8 {
    grid-template-columns: repeat(2, var(--tile-width));
    grid-template-rows: repeat(2, var(--tile-width));
    bottom: 0;
    left: 0;
}

#tiles-8 div:nth-child(1) span { transform: translate(1px, 1px); }
#tiles-8 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-8 div:nth-child(2) span { transform: translate(1px, 0); }
#tiles-8 div:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }

#tiles-8 div:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }

#tiles-9 {
    grid-template-columns: repeat(2, var(--tile-width));
    grid-template-rows: repeat(2, var(--tile-width));
    transform: translate(-25%, -50%);
    top: 0;
    right: 0;
}

#tiles-9 div:nth-child(1) span { transform: translate(1px, 1px); }
#tiles-9 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-9 div:nth-child(2) span { transform: translate(0, 0); }
#tiles-9 div:nth-child(2) { grid-area: 2 / 2 / 3 / 3; }

@media (max-width: 900px) {
    #tiles-9  {
        transform: translate(0, -1px);
        top: 0;
        left: 0;
    }

    #tiles-9 div:nth-child(1) span { transform: translate(0, 0); }
    #tiles-9 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

    #tiles-9 div:nth-child(2) span { transform: translate(-1px, 0); }
    #tiles-9 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
}

#tiles-10 {
    grid-template-columns: repeat(3, var(--tile-width));
    grid-template-rows: repeat(1, var(--tile-width));
    bottom: 0;
    right: 0;
}

#tiles-10 div:nth-child(1) span { transform: translate(1px, 0); }
#tiles-10 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

#tiles-10 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

#tiles-10 div:nth-child(3) span { transform: translate(-1px, 0); }
#tiles-10 div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

/* ---------------------------- */
/* ---------- header ---------- */
/* ---------------------------- */

header {
    position: fixed;
    right: 2%;
    top: 25px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(var(--white));
    mix-blend-mode: difference;
    user-select: none;
    cursor: pointer;
    z-index: 999;
}

header.active {
    mix-blend-mode: initial;
    pointer-events: none;
}

/* ---------------------------- */
/* ---------- footer ---------- */
/* ---------------------------- */

footer {
    overflow: hidden;
    padding: 2vw 2vw 20px 2vw;
    background: rgb(var(--black));
    color: rgb(var(--white));
}

footer .part-1 {
    display: grid;
    grid-template-columns: 45% 55%;
}

footer .part-1 div:first-child p {
    font-size: clamp(1.375rem, 0.7946rem + 1.8571vw, 2.1875rem); /* 35 > 22 */
}

footer .part-1 div:first-child span {
    font-style: italic;
    text-decoration: underline;
}

footer .part-1 div:last-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .part-1 #list-links-page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25%;
}

footer #list-links-page a {
    color: inherit;
    font-size: clamp(2.1875rem, 1.0714rem + 3.5714vw, 3.75rem); /* 60 > 35 */
    align-self: start;
}

footer #list-links-page a::after {
    content: '';
    display: block;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    background-color: rgb(var(--white));
    transform-origin: left;
    transition: transform 0.2s ease-out;
}

footer #list-links-page a:hover::after {
    transform: scaleX(0);
    transform-origin: right;
}

footer .part-1 #upper-button {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(var(--yellow));
    text-decoration: underline;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

footer .part-2 h1 {
    font-size: clamp(5rem, -1.5476rem + 20.9524vw, 18.75rem); /* 300 > 80 */
    font-weight: 800;
    text-align: center;
    margin: 5% 0;
}

footer .part-3 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
}

footer .part-3 div:first-child span {
    font-weight: 800;
}

footer .part-3 div:last-child {
    cursor: pointer;
    width: min-content;
    white-space: nowrap;
}

footer .part-3 div:last-child p::after {
    content: '';
    display: block;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    background-color: rgb(var(--white));
    transform-origin: left;
    transition: transform 0.2s ease-out;
}

footer .part-3 div:last-child:hover p::after {
    transform: scaleX(0);
    transform-origin: right;
}

@media (max-width: 850px) {
    footer .part-1 #upper-button {
        display: none;
    }

    footer .part-1 {
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        height: auto;
    }

    footer #list-links-page a {
        align-self: center;
    }

    footer .part-1 #list-links-page {
        margin-top: 15%;
    }

    footer .part-2 h1 {
        margin: 15% 0;
    }

    footer .part-3 {
        flex-direction: column-reverse;
        align-items: start;
    }
}

/* --------------------------- */
/* ---------- index ---------- */
/* --------------------------- */

/* ----------- hero banner ----------- */

.index-hero-banner {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.index-hero-banner .part-1 {
    width: min-content;
    flex: 0 0 auto;
    margin-top: 25px;
}

@media (max-width: 700px) {
    .index-hero-banner .part-1 {
        width: auto;
    }
}

.index-hero-banner h1 {
    white-space: nowrap;
    margin-left: 2vw;
    font-size: clamp(3.4375rem, -0.0481rem + 11.1538vw, 12.5rem); /* 200 > 55 */
    font-weight: 800;
}

.index-hero-banner h1 span:last-child {
    font-style: italic;
}

.index-hero-banner .part-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.index-hero-banner p {
    width: 50vw;
    font-size: clamp(1.375rem, 0.9236rem + 1.4444vw, 2.1875rem); /* 35 > 22 */
    text-align: center;
}

@media (max-width: 1400px) {
    .index-hero-banner p {
        width: 65vw;
    }
}

@media (max-width: 1100px) {
    .index-hero-banner p {
        width: 80vw;
    }
}

@media (max-width: 800px) {
    .index-hero-banner p {
        width: 96vw;
    }
}

/* ----------- section 1 ----------- */

.index-sec-1 {
    position: relative;
    height: 90vh;
    min-height: 530px;
    background: rgb(var(--black));
}

.index-sec-1 .text {
    position: relative;
    top: 5vw;
    left: 2vw;
    width: min-content;
    color: rgb(var(--white));
}

.index-sec-1 h2 {
    white-space: nowrap;
    margin-bottom: 40px;
    font-size: clamp(3.125rem, -1.4205rem + 14.5455vw, 8.125rem); /* 130 > 50 */
    font-weight: 800;
}

.index-sec-1 p {
    font-size: clamp(1.25rem, 0.6818rem + 1.8182vw, 1.875rem); /* 30 > 20 */
    font-weight: 200;
}

.index-sec-1 .rotating-text {
    position: absolute;
    bottom: 3vw;
    right: 5vw;
    user-select: none;
}

@media (max-width: 700px) {
    .index-sec-1 {
        height: 625px;
    }

    .index-sec-1 .rotating-text {
        right: auto;
        left: 2vw;
    }
}

.index-sec-1 .rotating-text > div{
    position: relative;
    width: min-content;
}

.index-sec-1 .circle-text {
    animation: 13s linear infinite fullrotate;
}

.index-sec-1 svg {
      fill: currentColor;
      height: auto;
      transform-origin: center;
    min-width: 135px;
    color: rgb(var(--yellow));
    font-weight: 200;
}

.index-sec-1 #container-star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.index-sec-1 #container-star > div {
    width: 20px;
    height: 20px;
}

.index-sec-1 #container-star > div > div {
    width: 20px;
    height: 20px;
    animation: 13s linear infinite negativefullrotate;
}

.index-sec-1 #star {
    position: relative;
}

.index-sec-1 #star span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1px;
    height: 20px;	
    background: rgb(var(--yellow));
}

.index-sec-1 #star span:nth-child(2) {
    transform: rotate(60deg);
}

.index-sec-1 #star span:nth-child(3) {
    transform: rotate(-60deg);
}

@keyframes fullrotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes negativefullrotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* ----------- section 2 ----------- */

.index-sec-2 {
    position: relative;
}

.index-sec-2 .my-projects {
    display: flex;
    padding-top: calc(var(--tile-width) * 1.5);
}

@media (max-width: 1330px) {
    .index-sec-2 .my-projects {
        display: flex;
        padding-top: calc(var(--tile-width) * 2.2);
    }
}

.index-sec-2 .my-projects h2 {
    display: flex;
    margin-left: 2vw;
    padding-top: 30px;
    font-size: clamp(3.125rem, 0.4934rem + 8.4211vw, 8.125rem); /* 130 > 50 */
    white-space: nowrap;
}

.index-sec-2 .my-projects > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.index-sec-2 .my-projects .cercle-button {
    width: 260px;
    aspect-ratio: 1/1;
}

@media (max-width: 1600px) {
    .index-sec-2 .my-projects .cercle-button {
        width: 200px;
    }
}

@media (max-width: 1330px) {
    .index-sec-2 .my-projects .cercle-button {
        width: 175px;
    }
}

@media (max-width: 1050px) {
    .index-sec-2 .my-projects .cercle-button {
        width: 150px;
    }

    .index-sec-2 .my-projects h2 {
        padding-top: 20px;
    }
}

@media (max-width: 700px) {
    .index-sec-2 .my-projects {
        flex-direction: column;
        gap: 15px;
        width: min-content;
    }

    .index-sec-2 .my-projects > div:last-child {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .index-sec-2 .my-projects .cercle-button {
        width: 150px;
    }

    .index-sec-2 .my-projects h2 {
        padding-top: 10px;
    }
}

@media (max-width: 500px) {
    .index-sec-2 .my-projects .cercle-button {
        width: 125px;
    }
}

.index-sec-2 .list-fovorite-project {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 96vw;
    padding:  calc(var(--tile-width) * 1.5) 0;
}

.index-sec-2 .list-fovorite-project h4 {
    font-size: clamp(1.5625rem, 0.4911rem + 2.8571vw, 2.8125rem); /* 45 > 25 */
    font-weight: 200;
    margin-bottom: 30px;
}

.index-sec-2 .project {
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 30px 0;
}

.index-sec-2 .project-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 125px;
    aspect-ratio: 1/1;
    border: 1px solid rgb(var(--grey));
    border-radius: 50%;
    font-size: clamp(1.5625rem, 0.4911rem + 2.8571vw, 2.8125rem); /* 45 > 25 */
    font-weight: 200;
    color: rgb(var(--grey));
    margin-bottom: 45px;
}

@media (max-width: 1300px) {
    .index-sec-2 .project-counter {
        min-width: 100px;
    }
}

@media (max-width: 1150px) {
    .index-sec-2 .project {
        gap: 50px;
    }

    .index-sec-2 .project-counter {
        min-width: 85px;
    }
}

@media (max-width: 1075px) {
    .index-sec-2 .project-counter {
        min-width: 70px;
    }
}

@media (max-width: 800px) {
    .index-sec-2 .project {
        gap: 30px;
    }

    .index-sec-2 .project-counter {
        min-width: 55px;
        margin-bottom: 30px;
    }
}

@media (max-width: 650px) {
    .index-sec-2 .project-counter {
        min-width: 45px;
        margin-bottom: 25px;
    }
}

.index-sec-2 .project-name p:first-child {
    font-size: clamp(3.4375rem, -0.5099rem + 12.6316vw, 10.9375rem); /* 175 > 55 */
    font-style: italic;
    color: rgb(var(--black));
}

.index-sec-2 .project-name p:last-child {
    font-size: clamp(0.9375rem, 0.6696rem + 0.7143vw, 1.25rem); /* 25 > 20 */
    font-weight: 200;
    color: rgb(var(--grey));
}

/* --------------------------------- */
/* ---------- competences ---------- */
/* --------------------------------- */

/* ----------- section 1 ----------- */

.skills-sec-1 {
    position: relative;
}

.skills-sec-1 .part-1 {
    position: relative;
    display: flex;
    align-items: center;
    height: 40vh;
    width: min-content;
}

.skills-sec-1 .part-1 h1 {
    padding-left: 2vw;
    font-size: clamp(3.4375rem,-0.0481rem + 11.1538vw,12.5rem);
    font-weight: 800;
}

.skills-sec-1 .part-1 .line {
    position: absolute;
    bottom: 0;
}

/* ----------- section 2 ----------- */

.skills-sec-2 {
    position: relative;
    padding: calc(var(--tile-width) * 2.5) 0 calc(var(--tile-width) * 2.5) 2vw;
}

.skills-sec-2 .list-container {
    display: flex;
    flex-direction: column;
    gap: 200px;
    width: 55%;
}

@media (max-width: 1300px) {
    .skills-sec-2 .list-container {
        width: 75%;
    }
}

@media (max-width: 700px) {
    .skills-sec-2 .list-container {
        width: 98%;
    }
}

/* ----------------------------- */
/* ---------- projets ---------- */
/* ----------------------------- */

/* ----------- section 1 ----------- */

.project-sec-1 {
    position: relative;
}

.project-sec-1 .part-1 {
    position: relative;
    display: flex;
    align-items: center;
    height: 40vh;
    width: min-content;
}

.project-sec-1 .part-1 h1 {
    padding-left: 2vw;
    font-size: clamp(3.4375rem,-0.0481rem + 11.1538vw,12.5rem);
    font-weight: 800;
	white-space: nowrap;
}

.project-sec-1 .part-1 .line {
    position: absolute;
    bottom: 0;
}

/* ----------- section 2 ----------- */

.project-sec-2 {
	position: relative;
    padding: calc(var(--tile-width) * 2.5) 0 calc(var(--tile-width) * 2.5) 2vw;
}

.project-sec-2 .list-container {
    display: flex;
    flex-direction: column;
	width: 100%;
}

.project-sec-2 h4 {
    font-size: clamp(1.5625rem, 0.4911rem + 2.8571vw, 2.8125rem); /* 45 > 25 */
    font-weight: 200;
    margin-bottom: 30px;
    white-space: nowrap;
}

.project-sec-2 .list-container ul {
    position: relative;
    align-self: flex-end;
	width: 55%;
    margin-right: 2vw;
}

.project-sec-2 .list-container ul:hover #img {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.project-sec-2 .list-container ul:not(:hover) #img {
    opacity: 0;
    transition-delay: .2s; /* delay uniquement quand on sort du ul */
    transform: translate(-50%, -50%);
}

#img {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    aspect-ratio: 16/9;
    z-index: -1;
    transition: .4s var(--bezier);
}

@media (max-width: 700px) {
    .project-sec-2 .list-container ul {
        width: 98%;
    }

    #img {
        display: none;
    }
}

/* ---------- font ---------- */

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-Ultralight.otf') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltralightSlanted.otf') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltralightOblique.otf') format('woff');
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-Regular.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-RegularSlanted.otf') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-RegularOblique.otf') format('woff');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-Ultrabold.otf') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltraboldSlanted.otf') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Telegraf';
    src: url('/font/telegraf/PPTelegraf-UltraboldOblique.otf') format('woff');
    font-weight: 800;
    font-style: oblique;
}