---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Menu from '../components/menu.astro';
import Cursor from '../components/cursor.astro';
import Loader from '../components/loader.astro';
import List from '../components/list.astro';
import '../styles/global.css';
---

<Layout title="Compétences">
    <!-- <Loader/> -->
	<Cursor/>
	<Menu/>
	<Header/>
    <section class="skills-sec-1">
        <div class="part-1">
            <h1>Compétences</h1>
            <span class="line"></span>
        </div>
        <div id="tiles-6">
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
        </div>
    </section>
    <section class="skills-sec-2">
        <div class="list-container">
        <List
            principalTitle="Languages de programmation"
            listTitles= {["HTML5", "CSS3", "JavaScript", "PHP", "Python"]}
        />
        <List
            principalTitle="Frameworks / Librairies"
            listTitles= {["Astro JS", "Gsap"]}
        />
        <List
            principalTitle="Outils"
            listTitles= {["Visual Studio Code", "Figma", "Github"]}
        />
        </div>
        <div id="tiles-7">
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
        </div>
        <div id="tiles-8">
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
        </div>
    </section>
    <Footer/>
</Layout>

<script>
    import { ratio } from '../js/libray.js'
    import { animTilesScroll } from '../js/libray.js'
	import { animLineScroll } from '../js/libray.js'

    // section 1

    animLineScroll('.skills-sec-1 .line', ratio.fullPage, '.skills-sec-1 .line')

    animTilesScroll('#tiles-6', ratio.basic,
	[
		'#tiles-6 div:nth-child(1)',
	    '#tiles-6 div:nth-child(2)',
	    '#tiles-6 div:nth-child(3)',
	    '#tiles-6 div:nth-child(4)',
	    '#tiles-6 div:nth-child(5)',
	    '#tiles-6 div:nth-child(6)'
	],
	[
		{ x: '100%', y: '0' },
		{ x: '125%', y: '0' },
		{ x: '150%', y: '0' },
		{ x: '175%', y: '0' },
		{ x: '200%', y: '0' },
		{ x: '225%', y: '0' }
	])

    // section 2

    animTilesScroll('#tiles-7', ratio.basic,
	[
		'#tiles-7 div:nth-child(1)',
	    '#tiles-7 div:nth-child(2)',
	    '#tiles-7 div:nth-child(3)',
	    '#tiles-7 div:nth-child(4)',
	    '#tiles-7 div:nth-child(5)',
	    '#tiles-7 div:nth-child(6)'
	],
	[
		{ x: '0', y: '-100%' },
		{ x: '-100%', y: '0' },
		{ x: '100%', y: '0' },
		{ x: '125%', y: '0' },
		{ x: '0', y: '100%' },
		{ x: '0', y: '125%' }
	])

    animTilesScroll('#tiles-8', ratio.basic, 
	[
	    '#tiles-8 div:nth-child(1)',
	    '#tiles-8 div:nth-child(2)',
	    '#tiles-8 div:nth-child(3)',
	], 
	[
		{ x: '100%', y: '0' },
		{ x: '125%', y: '0' },
		{ x: '150%', y: '0' },
	])
</script>