---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Menu from '../components/menu.astro';
import Cursor from '../components/cursor.astro';
import '../styles/global.css';
---

<Layout title="Accueil">
	<Cursor/>
	<Menu/>
	<Header/>
	<section class="hero-banner">
		<div class="part-1">
			<h1><span>Bonjour, je suis</span><br><span>Galiano Enzo</span></h1>
			<span class="line"></span>
		</div>
		<div class="part-2">
			<div id="tiles-1">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="tiles-2">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

			<p>Je suis actuellement en classe de terminale STI2D avec l'enseignement spécifique "système d'information et numérique (SIN)".</p>
		</div>
	</section>
	<section class="sec-1">
		<div class="text">
			<h2>Mes Objectifs</h2>
			<p>Mon objectif premier est créer une experience web inoubliable en combinant esthétisme et fonctionnalité. Pour cela il me faut donc affiner mes competences en tant que développeur web front-end. Je suis quelqu'un de motiver qui aime apprendre de nouvelles choses.</p>
		</div>

		<div class="rotating">
			<div>
				<svg viewBox="0 0 100 100" width="100" height="100">
					<defs>
					  <path id="circle"
						d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0"/>
					</defs>
					<text font-size="14">
					  <textPath xlink:href="#circle">
						MES OBJECTIFS - MES OBJECTIFS -
					  </textPath>
					</text>
				  </svg>
				  <div id="container-star">
					<div>
						<div id="star">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				  </div>
			</div>
		</div>
	</section>
</Layout>

<style>
	/* ----------- hero banner ----------- */

	.hero-banner {
	    display: flex;
	    flex-direction: column;
	    height: 100vh;
	}

	.hero-banner .part-1 {
	    width: min-content;
	    flex: 0 0 auto;
		margin-top: 25px;
	}

	@media (max-width: 700px) {
		.hero-banner .part-1 {
	    	width: auto;
		}
    }

	.hero-banner h1 {
	    white-space: nowrap;
	    margin-left: 1vw;
	    font-size: clamp(3.4375rem, -0.0481rem + 11.1538vw, 12.5rem); /* 200 > 55 */
	    font-weight: 800;
	}

	.hero-banner h1 span:last-child {
	    font-style: italic;
	}

	.hero-banner .line {
	    display: block;
	    width: 100%;
	    height: 2px;
	    background: rgb(var(--grey));
		transform-origin: left;
	}

	.hero-banner .part-2 {
	    position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	    flex: 1;
	}

	.hero-banner p {
		width: 50vw;
		font-size: clamp(1.375rem, 0.9236rem + 1.4444vw, 2.1875rem); /* 35 > 22 */
		text-align: center;
	}

	@media (max-width: 1400px) {
		.hero-banner p {
	    	width: 65vw;
		}
    }

	@media (max-width: 1100px) {
		.hero-banner p {
	    	width: 80vw;
		}
    }

	@media (max-width: 800px) {
		.hero-banner p {
	    	width: 94vw;
		}
    }

	#tiles-1 {
		grid-template-columns: repeat(3, var(--tile-width));
		grid-template-rows: repeat(2, var(--tile-width));
		transform: translate(-2px, -2px);
		top: 0;
		left: 0;
	}

	#tiles-1 span:nth-child(1) {
		grid-area: 1 / 1 / 2 / 2; 
		/* border-width: 2px 0 2px 2px;*/
	}

	#tiles-1 span:nth-child(2) {
		grid-area: 1 / 2 / 2 / 3;
		/* border-width: 2px 2px 2px 2px;*/
	}

	#tiles-1 span:nth-child(3) {
		grid-area: 1 / 3 / 2 / 4;
		/* border-width: 2px 2px 2px 0;*/
	}

	#tiles-1 span:nth-child(4) {
		grid-area: 2 / 1 / 3 / 2;
		/* border-width: 0 0 2px 2px;*/
	}

	#tiles-1 span:nth-child(5) {
		grid-area: 2 / 2 / 3 / 3;
		/* border-width: 0 2px 2px 2px;*/
	}

	#tiles-2 {
		grid-template-columns: repeat(3, var(--tile-width));
		grid-template-rows: repeat(2, var(--tile-width));
		bottom: 0;
		right: 0;
		transform: translateX(2px);
	}

	#tiles-2 span:nth-child(1) {
		grid-area: 1 / 2 / 2 / 3;
		/*border-width: 2px 0 0 2px;*/
	}

	#tiles-2 span:nth-child(2) {
		grid-area: 1 / 3 / 2 / 4;
		/*border-width: 2px 2px 0 2px;*/
	}

	#tiles-2 span:nth-child(3) {
		grid-area: 2 / 1 / 3 / 2;
		/*border-width: 2px 0 2px 2px;*/
	}

	#tiles-2 span:nth-child(4) {
		grid-area: 2 / 2 / 3 / 3;
		/*border-width: 2px 0 2px 2px;*/
	}

	#tiles-2 span:nth-child(5) {
		grid-area: 2 / 3 / 3 / 4;
		/*border-width: 2px 2px 2px 2px;*/
	}
	
	@media (max-height: 665px) {
    	#tiles-1, #tiles-2 {
        	display: none;
		}
	}

	/* ----------- section 1 ----------- */

	.sec-1 {
		position: relative;
		height: 90vh;
		min-height: 530px;
		background: rgb(var(--black));
	}

	.sec-1 .text {
		position: relative;
		top: 5vw;
		left: 3vw;
		width: min-content;
		color: rgb(var(--white));
	}

	.sec-1 h2 {
		white-space: nowrap;
		margin-bottom: 40px;
		font-size: clamp(3.125rem, -1.4205rem + 14.5455vw, 8.125rem); /* 130 > 50 */
		font-weight: 800;
	}
	
	.sec-1 p {
		font-size: clamp(1.25rem, 0.6818rem + 1.8182vw, 1.875rem); /* 30 > 20 */
		font-weight: 200;
	}

	.sec-1 .rotating {
		position: absolute;
		bottom: 3vw;
		right: 5vw;
		user-select: none;
	}

	@media (max-width: 700px) {
		.sec-1 {
			height: 625px;
		}

		.sec-1 .rotating {
			right: auto;
			left: 3vw;
		}
	}

	.sec-1 .rotating > div{
		position: relative;
		width: min-content;
	}

	.sec-1 svg {
  		fill: currentColor;
  		height: auto;
  		transform-origin: center;
		min-width: 135px;
		color: rgb(var(--yellow));
		font-weight: 200;
		animation: 25s linear infinite fullrotate;
	}

	.sec-1 #container-star {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
	}

	.sec-1 #container-star > div {
		width: 20px;
		height: 20px;
		animation: 10s linear infinite fullrotate;
	}

	.sec-1 #star {
		position: relative;
	}

	.sec-1 #star span {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 1px;
		height: 20px;	
		background: rgb(var(--yellow));
	}

	.sec-1 #star span:nth-child(2) {
		transform: rotate(60deg);
	}

	.sec-1 #star span:nth-child(3) {
		transform: rotate(-60deg);
	}

	@keyframes fullrotate {
		0% {
			transform: rotate(0);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);
/*
	const animSlide = function(referenciel, start, elementAnim, delay) {
		gsap.to(referenciel, {
  			scrollTrigger: {
    			trigger: referenciel,
   				start: start,
    			markers: true,
				onEnter: () => gsap.to(elementAnim, {
					x: 0,
					y: 0,
      				opacity: 1,
      				duration: 1.4,
      				ease: "power4.out",
					delay: delay
				})
  			}
		});
	}

	gsap.set('.line', {
		scaleX: 0
	})

	gsap.to('.line', {
  			scrollTrigger: {
    			trigger: '.line',
   				start: 'top bottom',
  			},
			scaleX: 1,
			duration: 1.4,
      		ease: "power4.out"
		});



	gsap.set([".text h2", ".text p"], {
		opacity: 0,
		x: -100,
	})

	gsap.set(".hero-banner h1 span", {
		opacity: 1,
		y: 100,
	})

	animSlide('.text', "top 60%",'.text h2', 0)
	animSlide('.text', "top 60%",'.text p', 0.1)
	animSlide('.text', "top bottom",'.hero-banner h1 span:first-child', 0)
	animSlide('.text', "top bottom",'.hero-banner h1 span:last-child', 0.5)
*/

function animateHeroBanner() {
	gsap.set('.line', {
		scaleX: 0
	})
	
	gsap.to('.line', {
		scaleX: 1,
		duration: 1.4,
      	ease: "power4.out",
	})
/*
	gsap.set('h1', {
		opacity: 0,
		x: -100,
	})

	gsap.to('h1', {
		opacity: 1,
		x: 0,
		duration: 1.4,
      	ease: "power4.out",
	})*/

	gsap.set('.hero-banner p', {
		opacity: 0,
	})

	gsap.to('.hero-banner p', {
		opacity: 1,
		duration: 1.4,
		delay: 1,
      	ease: "power4.out",
	})





	// tiles 
	/*gsap.set('#tiles-1 span:nth-child(1)', {y: 175, x: -175, rotate: 40})
	gsap.set('#tiles-1 span:nth-child(2)', {y: 175, x: 350, rotate: -40})
	gsap.set('#tiles-1 span:nth-child(3)', {y: 0, x: 350, rotate: 65})
	gsap.set('#tiles-1 span:nth-child(4)', {y: 175, x: 0, rotate: 20})
	gsap.set('#tiles-1 span:nth-child(5)', {y: 175, x: 175, rotate: 35})

	gsap.set('#tiles-2 span:nth-child(1)', {y: -175, x: -175, rotate: -35})
	gsap.set('#tiles-2 span:nth-child(2)', {y: -175, x: 0, rotate: -20})
	gsap.set('#tiles-2 span:nth-child(3)', {y: 0, x: -350, rotate: -65})
	gsap.set('#tiles-2 span:nth-child(4)', {y: -175, x: -350, rotate: 40})
	gsap.set('#tiles-2 span:nth-child(5)', {y: -175, x: 175, rotate: -40})*/

	gsap.set('#tiles-1 span:nth-child(1)', {y: '100%'})
	gsap.set('#tiles-1 span:nth-child(2)', {y: '150%'})
	gsap.set('#tiles-1 span:nth-child(3)', {y: '175%'})
	gsap.set('#tiles-1 span:nth-child(4)', {y: '125%'})
	gsap.set('#tiles-1 span:nth-child(5)', {y: '175%'})

	gsap.set('#tiles-2 span:nth-child(1)', {y: '-175%'})
	gsap.set('#tiles-2 span:nth-child(2)', {y: '-125%'})
	gsap.set('#tiles-2 span:nth-child(3)', {y: '-175%'})
	gsap.set('#tiles-2 span:nth-child(4)', {y: '-150%'})
	gsap.set('#tiles-2 span:nth-child(5)', {y: '-100%'})


	// go top 2px
	gsap.to('#tiles-1 span:nth-child(5)', {
		y: -2,
		x: 0,
		rotate: 0,
		duration: 1.4,
      	ease: "power4.out",
	})

	// go top right 2px
	gsap.to('#tiles-1 span:nth-child(4)', {
		y: -2,
		x: 2,
		rotate: 0,
		duration: 1.4,
      	ease: "power4.out",
	})

	// go right 2px
	gsap.to(['#tiles-1 span:nth-child(1)', '#tiles-2 span:nth-child(3)'], {
		y: 0,
		x: 2,
		rotate: 0,
		duration: 1.4,
      	ease: "power4.out",
	})

	// go bottom 2px
	gsap.to('#tiles-2 span:nth-child(1)', {
		y: 2,
		x: 0,
		rotate: 0,
		duration: 1.4,
      	ease: "power4.out",
	})

	// go bottom left 2px
	gsap.to('#tiles-2 span:nth-child(2)', {
		y: 2,
		x: -2,
		rotate: 0,
		duration: 1.4,
      	ease: "power4.out",
	})

	// go left 2px
	gsap.to(['#tiles-1 span:nth-child(3)', '#tiles-2 span:nth-child(5)'], {
		y: 0,
		x: -2,
		rotate: 0,
		duration: 1.4,
      	ease: "power4.out",
	})

	
	gsap.to(['#tiles-1 span:nth-child(2)', '#tiles-2 span:nth-child(4)'], {
		y: 0,
		x: 0,
		rotate: 0,
		duration: 1.4,
      	ease: "power4.out",
	})
}


animateHeroBanner()

setInterval(() => {
	animateHeroBanner()
}, 5000)

</script>