---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Menu from '../components/menu.astro';
import Cursor from '../components/cursor.astro';
import Loader from '../components/loader.astro';
import '../styles/global.css';
---

<Layout title="Accueil">
	<Loader/>
	<Cursor/>
	<Menu/>
	<Header/>
	<section class="hero-banner">
		<div class="part-1">
			<h1><span>Bonjour, je suis</span><br><span>Galiano Enzo</span></h1>
			<span class="line"></span>
		</div>
		<div class="part-2">
			<div id="tiles-1">
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
			</div>
			<div id="tiles-2">
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
				<div><span></span></div>
			</div>
			<p>Je suis actuellement en classe de terminale STI2D avec l'enseignement spécifique "système d'information et numérique (SIN)".</p>
		</div>
	</section>
	<section class="sec-1">
		<div class="text">
			<h2>Mes Objectifs</h2>
			<p>Mon objectif premier est créer une experience web inoubliable en combinant esthétisme et fonctionnalité. Pour cela il me faut donc affiner mes competences en tant que développeur web front-end. Je suis quelqu'un de motiver qui aime apprendre de nouvelles choses.</p>
		</div>
		<div class="rotating-text">
			<div>
				<div class="circle-text">
					<svg viewBox="0 0 100 100" width="100" height="100">
						<defs>
						  <path id="circle"
							d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0"/>
						</defs>
						<text font-size="14">
						  <textPath xlink:href="#circle">
							MES OBJECTIFS - MES OBJECTIFS -
						  </textPath>
						</text>
					  </svg>
				</div>
				<div id="container-star">
					<div>
						<div>
							<div id="star">
								<div>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-2">
		<div id="tiles-3">
			<div><span></span></div>
			<div><span></span></div>
			<div><span></span></div>
			<div><span></span></div>
		</div>
		<div class="my-projects">
			<div>
				<span class="line"></span>
				<h2>Mes Differents<br> Projets</h2>
			</div>
			<div>
				<a class="cercle-button over-opacity" href="#">
					<div class="arrow">
						<div><span></span></div>
						<div><span></span></div>
						<div><span></span></div>
					</div>
				</a>
			</div>
		</div>
		<div class="list-fovorite-project">
			<h4>Mes Projets Favoris</h4>
			<span class="line"></span>
			<a class="project over-image" href="#">
				<div class="project-counter">1</div>
				<div class="project-name">
					<p>Picture Poker</p>
					<p>Mini Jeu | 2024 | HTML5 | CSS3 | JavaScript</p>
				</div>
			</a>
			<span class="line"></span>
			<a class="project over-image" href="#">
				<div class="project-counter">2</div>
				<div class="project-name">
					<p>Aesthetic</p>
					<p>Site Web | 2023 | HTML5 | CSS3 | JavaScript</p>
				</div>
			</a>
			<span class="line"></span>
		</div>
		<div id="tiles-4">
			<div><span></span></div>
			<div><span></span></div>
		</div>
		<div id="tiles-5">
			<div><span></span></div>
		</div>
	</section>
	<Footer/>
</Layout>

<style>
	/* ----------- hero banner ----------- */

	.hero-banner {
	    display: flex;
	    flex-direction: column;
	    height: 100vh;
	}

	.hero-banner .part-1 {
	    width: min-content;
	    flex: 0 0 auto;
		margin-top: 25px;
	}

	@media (max-width: 700px) {
		.hero-banner .part-1 {
	    	width: auto;
		}
    }

	.hero-banner h1 {
	    white-space: nowrap;
	    margin-left: 2vw;
	    font-size: clamp(3.4375rem, -0.0481rem + 11.1538vw, 12.5rem); /* 200 > 55 */
	    font-weight: 800;
	}

	.hero-banner h1 span:last-child {
	    font-style: italic;
	}

	.hero-banner .part-2 {
	    position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	    flex: 1;
	}

	.hero-banner p {
		width: 50vw;
		font-size: clamp(1.375rem, 0.9236rem + 1.4444vw, 2.1875rem); /* 35 > 22 */
		text-align: center;
	}

	@media (max-width: 1400px) {
		.hero-banner p {
	    	width: 65vw;
		}
    }

	@media (max-width: 1100px) {
		.hero-banner p {
	    	width: 80vw;
		}
    }

	@media (max-width: 800px) {
		.hero-banner p {
	    	width: 96vw;
		}
    }

	#tiles-1 {
		grid-template-columns: repeat(3, var(--tile-width));
		grid-template-rows: repeat(2, var(--tile-width));
		transform: translate(-1px, -1px);
		top: 0;
		left: 0;
	}

	#tiles-1 div:nth-child(1) span { transform: translate(1px, 0); }
	#tiles-1 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

	#tiles-1 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

	#tiles-1 div:nth-child(3) span { transform: translate(-1px, 0); }
	#tiles-1 div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

	#tiles-1 div:nth-child(4) span { transform: translate(1px, -1px); }
	#tiles-1 div:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }

	#tiles-1 div:nth-child(5) span { transform: translate(0, -1px); }
	#tiles-1 div:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }

	#tiles-2 {
		grid-template-columns: repeat(3, var(--tile-width));
		grid-template-rows: repeat(2, var(--tile-width));
		transform: translateX(1px);
		bottom: 0;
		right: 0;
	}

	#tiles-2 div:nth-child(1) span { transform: translate(0, 1px); }
	#tiles-2 div:nth-child(1) { grid-area: 1 / 2 / 2 / 3; }

	#tiles-2 div:nth-child(2) span { transform: translate(-1px, 1px); }
	#tiles-2 div:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }

	#tiles-2 div:nth-child(3) span { transform: translate(1px, 0); }
	#tiles-2 div:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }

	#tiles-2 div:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }

	#tiles-2 div:nth-child(5) span { transform: translate(-1px, 0); }
	#tiles-2 div:nth-child(5) { grid-area: 2 / 3 / 3 / 4; }

	@media (max-height: 665px) {
    	#tiles-1, #tiles-2 {
        	display: none;
		}
	}

	/* ----------- section 1 ----------- */

	.sec-1 {
		position: relative;
		height: 90vh;
		min-height: 530px;
		background: rgb(var(--black));
	}

	.sec-1 .text {
		position: relative;
		top: 5vw;
		left: 2vw;
		width: min-content;
		color: rgb(var(--white));
	}

	.sec-1 h2 {
		white-space: nowrap;
		margin-bottom: 40px;
		font-size: clamp(3.125rem, -1.4205rem + 14.5455vw, 8.125rem); /* 130 > 50 */
		font-weight: 800;
	}
	
	.sec-1 p {
		font-size: clamp(1.25rem, 0.6818rem + 1.8182vw, 1.875rem); /* 30 > 20 */
		font-weight: 200;
	}

	.sec-1 .rotating-text {
		position: absolute;
		bottom: 3vw;
		right: 5vw;
		user-select: none;
	}

	@media (max-width: 700px) {
		.sec-1 {
			height: 625px;
		}

		.sec-1 .rotating-text {
			right: auto;
			left: 2vw;
		}
	}

	.sec-1 .rotating-text > div{
		position: relative;
		width: min-content;
	}

	.sec-1 .circle-text {
		animation: 13s linear infinite fullrotate;
	}

	.sec-1 svg {
  		fill: currentColor;
  		height: auto;
  		transform-origin: center;
		min-width: 135px;
		color: rgb(var(--yellow));
		font-weight: 200;
	}

	.sec-1 #container-star {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
	}

	.sec-1 #container-star > div {
		width: 20px;
		height: 20px;
	}

	.sec-1 #container-star > div > div {
		width: 20px;
		height: 20px;
		animation: 13s linear infinite negativefullrotate;
	}

	.sec-1 #star {
		position: relative;
	}

	.sec-1 #star span {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 1px;
		height: 20px;	
		background: rgb(var(--yellow));
	}

	.sec-1 #star span:nth-child(2) {
		transform: rotate(60deg);
	}

	.sec-1 #star span:nth-child(3) {
		transform: rotate(-60deg);
	}

	@keyframes fullrotate {
		0% {
			transform: rotate(0);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes negativefullrotate {
		0% {
			transform: rotate(0);
		}

		100% {
			transform: rotate(-360deg);
		}
	}

	/* ----------- section 2 ----------- */

	.sec-2 {
		position: relative;
	}

	.sec-2 .my-projects {
		display: flex;
		padding-top: calc(var(--tile-width) * 1.5);
	}

	@media (max-width: 1330px) {
		.sec-2 .my-projects {
			display: flex;
			padding-top: calc(var(--tile-width) * 2.2);
		}
	}

	.sec-2 .my-projects h2 {
		display: flex;
		margin-left: 2vw;
		padding-top: 30px;
		font-size: clamp(3.125rem, 0.4934rem + 8.4211vw, 8.125rem); /* 130 > 50 */
		white-space: nowrap;
	}

	.my-projects > div:last-child {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.my-projects .cercle-button {
		width: 260px;
		aspect-ratio: 1/1;
	}

	@media (max-width: 1600px) {
		.my-projects .cercle-button {
			width: 200px;
		}
	}

	@media (max-width: 1330px) {
		.my-projects .cercle-button {
			width: 175px;
		}
	}

	@media (max-width: 1050px) {
		.my-projects .cercle-button {
			width: 150px;
		}

		.sec-2 .my-projects h2 {
			padding-top: 20px;
		}
	}

	@media (max-width: 700px) {
		.sec-2 .my-projects {
			flex-direction: column;
			gap: 15px;
			width: min-content;
		}

		.my-projects > div:last-child {
			display: flex;
			justify-content: end;
			align-items: center;
		}

		.my-projects .cercle-button {
			width: 150px;
		}

		.sec-2 .my-projects h2 {
			padding-top: 10px;
		}
	}

	@media (max-width: 500px) {
		.my-projects .cercle-button {
			width: 125px;
		}
	}

	.list-fovorite-project {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 96vw;
		padding:  calc(var(--tile-width) * 1.5) 0;
	}

	.list-fovorite-project h4 {
		font-size: clamp(1.5625rem, 0.4911rem + 2.8571vw, 2.8125rem); /* 45 > 25 */
		font-weight: 200;
	}

	.project {
		display: flex;
		align-items: center;
		gap: 70px;
	}

	.project-counter {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 125px;
		aspect-ratio: 1/1;
		border: 1px solid rgb(var(--grey));
		border-radius: 50%;
		font-size: clamp(1.5625rem, 0.4911rem + 2.8571vw, 2.8125rem); /* 45 > 25 */
		font-weight: 200;
		color: rgb(var(--grey));
		margin-bottom: 45px;
	}

	@media (max-width: 1300px) {
		.project-counter {
			min-width: 100px;
		}
	}

	@media (max-width: 1150px) {
		.project {
			gap: 50px;
		}

		.project-counter {
			min-width: 85px;
		}
	}

	@media (max-width: 1075px) {
		.project-counter {
			min-width: 70px;
		}
	}

	@media (max-width: 800px) {
		.project {
			gap: 30px;
		}

		.project-counter {
			min-width: 55px;
			margin-bottom: 30px;
		}
	}

	@media (max-width: 650px) {
		.project-counter {
			min-width: 45px;
			margin-bottom: 25px;
		}
	}

	.project-name p:first-child {
		font-size: clamp(3.4375rem, -0.5099rem + 12.6316vw, 10.9375rem); /* 175 > 55 */
		font-style: italic;
		color: rgb(var(--black));
	}

	.project-name p:last-child {
		font-size: clamp(0.9375rem, 0.6696rem + 0.7143vw, 1.25rem); /* 25 > 20 */
		font-weight: 200;
		color: rgb(var(--grey));
	}

	#tiles-3 {
		grid-template-columns: repeat(3, var(--tile-width));
		grid-template-rows: repeat(2, var(--tile-width));
		transform: translateX(1px);
		top: 0;
		right: 0;
	}

	#tiles-3 div:nth-child(1) span { transform: translate(1px, 0); }
	#tiles-3 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

	#tiles-3 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

	#tiles-3 div:nth-child(3) span { transform: translate(-1px, 0); }
	#tiles-3 div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }

	#tiles-3 div:nth-child(4) span { transform: translate(-1px, -1px); }
	#tiles-3 div:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }

	#tiles-4 {
		grid-template-columns: repeat(2, var(--tile-width));
		grid-template-rows: var(--tile-width);
		bottom: 0;
		left: 0;
	}

	#tiles-4 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }

	#tiles-4 div:nth-child(2) span { transform: translate(-1px, 0); }
	#tiles-4 div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }

	#tiles-5 {
		grid-template-columns: var(--tile-width);
		grid-template-rows: var(--tile-width);
		bottom: 0;
		right: 0;
	}

	#tiles-5 div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
</style>

<script>
	import { animTiles } from '../js/libray.js'
	import { animLine } from '../js/libray.js'
	import { animOpacity } from '../js/libray.js'
	import { animSlide } from '../js/libray.js'
	import { animRotateScroll } from '../js/libray.js'

	const ratioTrigger = "top 80%"
	const ratioTriggerFullPage = "top bottom"

	// hero banner

	animLine('.hero-banner .line', ratioTriggerFullPage, '.hero-banner .line')
	animOpacity('.hero-banner .line', ratioTriggerFullPage, '.hero-banner p', 1)

	animTiles('#tiles-1', ratioTriggerFullPage, 
	[
	    '#tiles-1 div:nth-child(1)',
	    '#tiles-1 div:nth-child(2)',
	    '#tiles-1 div:nth-child(3)',
	    '#tiles-1 div:nth-child(4)',
	    '#tiles-1 div:nth-child(5)',
	    '#tiles-2 div:nth-child(1)',
	    '#tiles-2 div:nth-child(2)',
	    '#tiles-2 div:nth-child(3)',
	    '#tiles-2 div:nth-child(4)',
	    '#tiles-2 div:nth-child(5)',
	], 
	[
		{ x: '0', y: '100%' },
		{ x: '0', y: '150%' },
		{ x: '0', y: '125%' },
		{ x: '0', y: '225%' },
		{ x: '0', y: '175%' },
		{ x: '0', y: '-175%' },
		{ x: '0', y: '-225%' },
		{ x: '0', y: '-125%' },
		{ x: '0', y: '-150%' },
		{ x: '0', y: '-100%' }
	])

	// section 2

	animSlide('.sec-1 .text', ratioTrigger, '.sec-1 h2', -200, 0, 0)
	animSlide('.sec-1 .text', ratioTrigger, '.sec-1 p', -200, 0, 0.1)

	animRotateScroll('.rotating-text', ratioTriggerFullPage, '.sec-1 svg', '+', 3)
	animRotateScroll('.rotating-text', ratioTriggerFullPage, '.sec-1 #container-star > div', '-', 3)

	// section 3

	animSlide('.my-projects h2', ratioTrigger, '.my-projects h2', -100, 0, 0.3)
	animSlide('.list-fovorite-project h4', ratioTrigger, '.list-fovorite-project h4', 0, 50, 0.3)

	document.querySelectorAll('.project').forEach(project => {
		animSlide(project, ratioTrigger, project.querySelector('.project-name p:last-child'), 0, '500%', 0.2)
		animSlide(project, ratioTrigger, project.querySelector('.project-counter'), 0, '100%', 0.3)
		animSlide(project, ratioTrigger, project.querySelector('.project-name p:first-child'), 0, '70%', 0)
	})

	document.querySelectorAll('.sec-2 .line').forEach(line => {
		animLine(line, ratioTrigger, line)
	})

	animTiles('#tiles-3', ratioTrigger,
	[
	    '#tiles-3 div:nth-child(1)',
	    '#tiles-3 div:nth-child(2)',
	    '#tiles-3 div:nth-child(3)',
	    '#tiles-3 div:nth-child(4)',
	],
	[
		{ x: '-150%', y: '0' },
		{ x: '-100%', y: '0' },
		{ x: '0', y: '100%' },
		{ x: '0', y: '150%' },
	])

	animTiles('#tiles-4', ratioTrigger,
	[
		'#tiles-4 div:nth-child(1)',
	    '#tiles-4 div:nth-child(2)',
	    '#tiles-5 div:nth-child(1)',
	],
	[
		{ x: '125%', y: '0' },
		{ x: '150%', y: '0' },
		{ x: '-125%', y: '0' },
	])
</script>