---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Menu from '../components/menu.astro';
import Cursor from '../components/cursor.astro';
import Loader from '../components/loader.astro';
import List from '../components/list-link.astro';
import '../styles/global.css';
---

<Layout title="Projets">
	<Cursor/>
	<Menu/>
	<Header/>
	<section class="project-sec-1">
		<div class="part-1">
			<h1>Mes Projets</h1>
			<span class="line"></span>
		</div>
	</section>

	<section class="project-sec-2">
		<div id="tiles-9">
			<div><span></span></div>
			<div><span></span></div>
		</div>
		
		<div class="list-container">
			<h4>Tous Mes Projets</h4>
			<ul>
				<img id="img" src="" alt="">
				<span class="line"></span>
				<List
					title= "Picture Poker"
					date="2024"
					linkGit="https://gsap.com/"
					nameImgFile="picture-poker.png"
				/>
				<List
					title= "Aesthetic"
					date="2023"
					linkGit="https://gsap.com/"
					nameImgFile="aesthetic.png"
				/>
				<List
					title= "Memory"
					date="2023"
					linkGit="https://gsap.com/"
					nameImgFile="memory.png"
				/>
				<List
					title= "Tic-Tac-Toe"
					date="2023"
					linkGit="https://gsap.com/"
					nameImgFile="picture-poker.png"
				/>
				<List
					title= "Calculateur Age"
					date="2023"
					linkGit="https://gsap.com/"
					nameImgFile="age-calculator.png"
				/>
			</ul>
		</div>
		<div id="tiles-10">
			<div><span></span></div>
			<div><span></span></div>
			<div><span></span></div>
		</div>
	</section>
	<Footer/>
</Layout>

<script>
	import { ratio } from '../js/libray.js'
	import { animTiles } from '../js/libray.js'
	import { animLine } from '../js/libray.js'
	import { translate } from '../js/libray.js'

	const img = document.querySelector('#img')
	const ul = document.querySelector('ul')

	// section 1

	animLine('.project-sec-1 .line', ratio.fullPage, '.project-sec-1 .line')

	// section 2

	animTiles('#tiles-9', ratio.basic, 
	[
	    '#tiles-9 div:nth-child(1)',
	    '#tiles-9 div:nth-child(2)',
	], 
	[
		{ x: '-50%', y: '0' },
		{ x: '50%', y: '0' },

	])

	animTiles('#tiles-10', ratio.basic, 
	[
	    '#tiles-10 div:nth-child(1)',
	    '#tiles-10 div:nth-child(2)',
	    '#tiles-10 div:nth-child(3)',
	], 
	[
		{ x: '-100%', y: '0' },
		{ x: '-125%', y: '0' },
		{ x: '-150%', y: '0' },
	])

	ul.addEventListener('mousemove', e => {
		let boundingUl = ul.getBoundingClientRect();
		// Coordonnées de la souris par rapport à l'élément de référence
		let calcX = (e.clientX - boundingUl.left) / 10;
		let calcY = (e.clientY - boundingUl.top) / 10;

		let x = calcX.toFixed(0)
		let y = calcY.toFixed(0)

		translate(img, x, y)
	})

	document.querySelectorAll('li').forEach(li => {
		li.addEventListener('mouseover', () => {
			img.src = `/img/${li.getAttribute("data-img")}`
		})
	})
</script>