---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Menu from '../components/menu.astro';
import Cursor from '../components/cursor.astro';
import Loader from '../components/loader.astro';
import List from '../components/list-link.astro';
import '../styles/global.css';
---

<Layout title="Projets">
	<Cursor/>
	<Menu/>
	<Header/>
	<section class="project-sec-1">
		<div class="part-1">
			<h1>Mes Projets</h1>
			<span class="line"></span>
		</div>
	</section>

	<section class="project-sec-2">
		<div id="tiles-9">
			<div><span></span></div>
			<div><span></span></div>
		</div>
		<div class="list-container">
			<ul>
				<span class="line"></span>
				<List
					title= "Picture Poker"
					date="2024"
					linkGit="https://gsap.com/"
					linkSite="https://gsap.com/"
				/>
				<List
					title= "Aesthetic"
					date="2023"
					linkGit="https://gsap.com/"
					linkSite="https://gsap.com/"
				/>
				<List
					title= "Memory"
					date="2023"
					linkGit="https://gsap.com/"
					linkSite="https://gsap.com/"
				/>
				<List
					title= "Tic-Tac-Toe"
					date="2023"
					linkGit="https://gsap.com/"
					linkSite="https://gsap.com/"
				/>
				<List
					title= "Calculateur Age"
					date="2023"
					linkGit="https://gsap.com/"
					linkSite="https://gsap.com/"
				/>
			</ul>
		</div>
		<div id="tiles-10">
			<div><span></span></div>
			<div><span></span></div>
			<div><span></span></div>
		</div>
	</section>
	<Footer/>
</Layout>

<script>
	import { animTiles } from '../js/libray.js'
	import { animLine } from '../js/libray.js'

	const ratioTrigger = "top 80%"
	const ratioTriggerFullPage = "top bottom"

	// section 1

	animLine('.project-sec-1 .line', ratioTriggerFullPage, '.project-sec-1 .line')

	// section 2

	animTiles('#tiles-9', ratioTrigger, 
	[
	    '#tiles-9 div:nth-child(1)',
	    '#tiles-9 div:nth-child(2)',
	], 
	[
		{ x: '-50%', y: '0' },
		{ x: '50%', y: '0' },

	])

	animTiles('#tiles-10', ratioTrigger, 
	[
	    '#tiles-10 div:nth-child(1)',
	    '#tiles-10 div:nth-child(2)',
	    '#tiles-10 div:nth-child(3)',
	], 
	[
		{ x: '-100%', y: '0' },
		{ x: '-125%', y: '0' },
		{ x: '-150%', y: '0' },
	])
</script>