---

---

<footer>
    <div class="part-1">
        <div>
            <p>Pour toute question ou simplement si vous souhaiter me contacter, n'hésitez pas à me contacter par e-mail à 
                <span>enzo.galiano38@gmail.com</span>. Je suis ouvert aux échanges et aux opportunités. À bientôt !</p>
        </div>
        <div>
            <button id="upper-button">REMONTER</button>
            <div id="list-links-page">
                <a class="over-link" href="/">Accueil</a>
                <a class="over-link" href="/competences">Compétences</a>
                <a class="over-link" href="/projets">Projets</a>
            </div>
        </div>
    </div>
    <div class="part-2">
        <h1>Portfolio</h1>
    </div>
    <div class="part-3">
        <div>
            <p>Conçu et réalisé par Galiano Enzo</p>
            <p><span>Contact: </span>enzo.galiano38@gmail.com</p>
        </div>
        <div>
            <p class="over-none">Téléchager CV</p>
        </div>
    </div>
</footer>

<script>

    import { ratio } from '../js/libray.js'
    import { animSlide } from '../js/libray.js'
    import { gsap } from "gsap"
	import { ScrollTrigger } from "gsap/ScrollTrigger"
    import { scrollTo } from '../js/libray.js'
	gsap.registerPlugin(ScrollTrigger)

    const title = document.querySelector('footer h1')
    const scrollTop = document.querySelector('#upper-button')

    gsap.from(title, {
    y: '50%',
    scrollTrigger: {
        trigger: 'footer .part-2',
        start: "top bottom",
        end:"bottom bottom",
        scrub: 1,
    },
    duration: 1.4,
    ease: "power4.out"
})

    animSlide('footer .part-1 p', ratio.basic, 'footer .part-1 p', '-3vw', 0, 0)
    animSlide('footer .part-1 p', ratio.basic, 'footer .part-1 a', '3vw', 0, 0)                                                  // /!\ l'animation se declanche trop tot a cause du margin

    animSlide('footer #list-links-page', ratio.basic, 'footer #list-links-page a:nth-child(1)', 0, '100%', 0.2)
    animSlide('footer #list-links-page', ratio.basic, 'footer #list-links-page a:nth-child(2)', 0, '100%', 0.1)
    animSlide('footer #list-links-page', ratio.basic, 'footer #list-links-page a:nth-child(3)', 0, '100%', 0)
/*
    scrollTop.addEventListener('click', () => {
        gsap.to(window, { duration: 0.5, scrollTo: 0 });
    })*/

    scrollTo(scrollTop, 0)
</script>