---

---

<header class="over-none">
    <p>Menu</p>
</header>

<style>
    header {
        position: fixed;
        right: 2%;
        top: 25px;
        font-size: 20px;
        font-weight: 200;
        color: rgb(var(--white));
        mix-blend-mode: difference;
        user-select: none;
        cursor: pointer;
        z-index: 999;
    }

    header.active {
        mix-blend-mode: initial;
        pointer-events: none;
    }
</style>