---
interface Props {
    principalTitle: string;
    listTitles: string[];
}

const { principalTitle, listTitles } = Astro.props
---

<ul class="list">
    <h4>{principalTitle}</h4>
    <span class="line"></span>
    <!-- pour chaque élément du tableau listTitles on le met dans une balise li -->
    {listTitles.map((title) => 
        <li>
            <p>{title}</p>
        </li>
        <span class="line"></span>
    )}
</ul>

<script>
    import { ratio } from '../js/animation.js'
    import { animLineScroll } from '../js/animation.js'
    import { animSlideScroll } from '../js/animation.js'

	document.querySelectorAll('ul span').forEach(line => {
		animLineScroll(line, ratio.basic, line)
	})

    document.querySelectorAll('ul :is(p, h4)').forEach(title => {
		animSlideScroll(title, ratio.basic, title, 0, '50%', 0)
	})
</script>