<div class="loader">
    <div class="background"></div>

    <div class="inner-loader">
        <div class="counter">
            <p>0</p>
            <p>%</p>
        </div>
    </div>
</div>

<script>
    import { wait } from '../js/libray.js'
    import { globalTimelineIverse } from '../js/libray.js'

    const loader = document.querySelector('.loader')
    const background = document.querySelector('.background')
    const counter = document.querySelector('.counter')
    const counterPercent = document.querySelector('.counter p:nth-child(1)')
    const body = document.querySelector('body')
    let valueCounter = 0

    const playLoader = function () {
        globalTimelineIverse() // met en pause gsap
        body.style.overflow = 'hidden' // supprime le scroll de la page
        // tout les 20ms le script est exécuter
        const intervalCounter = setInterval(() => {
            // met à joour le compteur
            valueCounter++
            counterPercent.textContent = valueCounter
            // quand le compteur est a 100 on supprime l'interval et on fait une animaton
            if (valueCounter === 100) {
                clearInterval(intervalCounter)
                // animation
                wait(100)
                    .then(() => {
                        counter.style.opacity = 0
                        return wait(300)
                    })
                    .then(() => {
                        background.style.transform = 'scale(0.5)'
                        return wait(500)
                    })
                    .then(() => {
                        background.style.height = 0
                        globalTimelineIverse() // met gsap en play
                        return wait(500)
                    })
                    .then(() => {
                        loader.style.display = 'none'
                        body.style.overflow = 'auto'  // remet le scroll de la page
                    })
                }
            }, 20)
        }

    let keyLoader = parseInt(localStorage.getItem('keyLoader'))

    if(isNaN(keyLoader)) {
        keyLoader = 0; // permet de mettre une valeur de base
    }

    if(keyLoader === 0) {
        playLoader()
    } else {
        loader.style.display = 'none'
    }

</script>