<nav>
    <div class="container">
        <div id="links-list">
            <a class="over-link" href="/">
                <div>
                    <p>accueil</p>
                </div>
            </a>
            <a class="over-link" href="/competences">
                <div>
                    <p>compétences</p>
                </div>
            </a>
            <a class="over-link" href="/projets">
                <div>
                    <p>projets</p>
                </div>
            </a>
        </div>
        <div id="infos">
            <p class="slide-up"><span>Contact: </span>enzo.galiano38@gmail.com</p>
            <p class="slide-left over-none">Téléchager CV</p>
        </div>
    </div>
</nav>

<script>
    import { wait } from '../js/libray.js'
    import { customGsapSet } from '../js/libray.js'
    import { customGsapFromTo } from '../js/libray.js'
    import { animateUpDelay } from '../js/libray.js'
    
    const nav = document.querySelector('nav')
    const menuBtn = document.querySelector('header p')

    customGsapSet(["#links-list a div", "#infos p"], {   
        opacity: 0,
    })

    menuBtn.addEventListener("click", () => {
        // si le menu n'est pas afficher
        if (nav.className !== "active") {
            document.querySelector("body").style.overflow = 'hidden' // supprime le scroll à la page
            nav.classList.add("active"); // affiche le menu
            // fait disparaître le header
            customGsapFromTo("header", {opacity: 1}, {
                opacity: 0,
                duration: 0.8,
                ease: "power4.out",
                delay: 0
            })
            // modifie le header
            customGsapSet('header', {
                mixBlendMode: 'initial',
                pointerEvents: 'none' // supprime le clique
            })
            wait(650)
            .then(() => {
                animateUpDelay("#links-list a div", 1, 1, "106%", "10%", 0.1) // affiche les liens pricipaux du menu
                return wait(1000)
            })
            .then(() => {
                // fait apparaître le header
                customGsapFromTo(["header", "#infos p"], {opacity: 0}, {
                    opacity: 1,
                    duration: 0.8,
                    ease: "power4.out",
                    delay: 0
                })
                // modifie le header
                customGsapSet('header', {
                    pointerEvents: 'auto' // ajoute le clique
                })
                menuBtn.innerText = 'Close' // change le texte du bouton menu
            })
        // si le menu est afficher
        } else {
            document.querySelector("body").style.overflow = 'visible' // ajoute le scroll à la page
            animateUpDelay("#links-list a div", 1, 0, "10%", "106%", 0.1) // supprime les liens pricipaux du menu
            // fait disparaître le header
            customGsapFromTo(["header", "#infos p"], {opacity: 1}, {
                opacity: 0,
                duration: 0.8,
                ease: "power4.out",
                delay: 0
            })
            // modifie le header
            customGsapSet('header', {
                mixBlendMode: 'initial',
                pointerEvents: 'none' // supprime le clique
            })
            wait(650)
            .then(() => {
                nav.classList.remove("active") // supprime le menu
                return wait(1400)
            })
            .then(() => {
                // fait apparaître le header
                customGsapFromTo("header", {opacity: 0}, {
                    opacity: 1,
                    duration: 0.8,
                    ease: "power4.out",
                    delay: 0.1
                })
                // modifie le header
                customGsapSet('header', {
                    mixBlendMode: 'difference',
                    pointerEvents: 'auto', // ajoute le clique
                    delay: 0.1
                })
                menuBtn.innerText = 'Menu' // change le texte du bouton menu
            })
        }
    })
</script>